@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-ana-arkaplan: var(--bg);
  --color-ana-metin: var(--text);
  --color-kutu-arkaplan: var(--card-bg);
  --color-kutu-border: var(--card-border);
}

@layer base {
  :root {
    --bg: #fafafb;      
    --text: #18181b;  
    --card-bg: #ffffff;  
    --card-border: #e4e4e7;
  }

  .dark {
    --bg: #09090b;    
    --text: #fafafa;   
    --card-bg: #18181b;
    --card-border: #27272a;
  }

  body {
    background-color: var(--bg);
    color: var(--text);
  }
}